:root {
  --primary: #ffffff;
  --primary-text: #000000;
  --secondary: #000000;
  --secondary-text: #ffffff;
  --accent: #ffffff;
  --accent-text: #000000;
}

/* Navigagtion */





/* Page */

h1 .desc {
  margin: .67em 0;
  font-size: 2em;
}

#page {
  align: center;
  padding: 0px 0px;
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 768px) {
#story {
  line-height: normal;
  padding: 30px;
  width: 90%;
  text-align: center;
  font-size: 26px;
}
}
@media only screen and (max-width: 390px) {
#story {
    line-height: normal;
    width: 90%;
    text-align: center;
    font-size: 26px;
}
}
#story {
    background-color: #ececec;
    line-height: normal;
    width: 90%;
    text-align: center;
    font-size: 2em;
}



  
