:root {
  --primary: #ffffff;
  --primary-text: #000000;
  --secondary: #000000;
  --secondary-text: #ffffff;
  --accent: #ffffff;
  --accent-text: #000000;
}

#page {
  padding: 25px 25px;
  width: 100%;
  height: 640px;
  background-color: #f8f8f8;
}
#story {
  width: 30%;
  align: center;
  text-align: center;
  font-size: 26px;
}
  
