:root {
  --primary: #ffffff;
  --primary-text: #000000;
  --secondary: #e00000;
  --secondary-text: #6e6e6e;
  --accent: #ffffff;
  --accent-text: #000000;
}

#page {

  width: 90%;
  height: 640px;
  background-color: #ffffff;
}
